<h2>Cuentas Bancarias para Transferencia</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Banco</th>
      <th>Cuenta</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<h2>Recolección de ayuda para bomberos</h2>
<table>
  <thead>
    <tr>
      <th>Región</th>
      <th>Comuna</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Horario de atención</th>
      <th>Días de atención</th> 
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<h2>Centros de acopio</h2>
<table>
  <thead>
    <tr>
      <th>Región</th>
      <th>Comuna</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Horario de atención</th>
      <th>Días de atención</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Donar Dinero</th>
      <th>Donar Comida</th>
      <th>Donar Ropa</th>
      <th>Voluntarios</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Donar Dinero</th>
      <th>Donar Comida</th>
      <th>Donar Ropa</th>
      <th>Voluntarios</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
