    <!-- Full Width Image Header -->
    <header class="header-image">
      <div class="headline">
        <div class="container">
          <h1>¡AYUDA CHILE!</h1>
          <h2>Reporta tus necesidades, incidentes o emergencias en las zonas afectadas</h2>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
            Reportar Ayuda o Emergencia <i class="fa fa-ambulance" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <div class="map">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
          <br />
          <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
          </small>
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Reporta Tu Emergencia, Daño o Pedido de ayuda</h3>
        <hr>
        <h4>Pasos para hacer un reporte:</h4>
        <p>Ingresa a la web website una plataforma para el mapeo de informes de daños ocurridos.<br>
          Haz click en el botón <a href="#" data-toggle="modal" data-target="#myModal">Reportar emergencia</a>.</p>
          <hr>
          <h4>Completar el formulario:</h4>
          <p><b>Título del reporte:</b> Acorde a la necesidad.</p>
          <p><b>Descripción:</b> Direcciones, fuentes de la información y cualquier detalle adicional.</p>
          <p><b>Categorías:</b> Existen 5 y varias subcategorías para elegir, según sea la necesidad.</p>
          <p><b>Datos personales:</b> Ppcional, para que se contacten contigo por más información.</p>
          <p><b>Ubicación:</b> Dirección o Latitud y longitud</p>
          <p><b>Enlace a fuente de Noticias:</b> opcional, si tienes algún enlace con más información.</p>
          <p><b>URL de video:</b> enlaces a videos o imágenes, en caso de que existan.</p>
          <p><b>Subir Fotos:</b> adjuntar archivos de imágenes.</p>
          <p>Después de llenar el formulario, haz click en enviar.</p>
          <p>El equipo verificador revisará la información y aprobará el mensaje. Esto podría tardar algunos minutos</p>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>Cuentas Bancarias para Transferencia</h3>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Banco</th>
                <th>Cuenta</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

          <h3>Recolección de ayuda para bomberos</h3>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Región</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Horario de atención</th>
                <th>Días de atención</th> 
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

          <h3>Centros de acopio</h3>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Región</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Horario de atención</th>
                <th>Días de atención</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
