/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "font-awesome";

 @media(max-width:1200px) {
  .headline h1 {
    font-size: 140px;
  }
  .headline h2 {
    font-size: 63px;
  }
}

@media(max-width:991px) {
  .headline h1 {
    font-size: 105px;
  }
  .headline h2 {
    font-size: 50px;
  }
}

@media(max-width:768px) {
  .container {
    margin: 0 15px;
  }
}

@media(max-width:668px) {
  .headline h1 {
    font-size: 70px;
  }
  .headline h2 {
    font-size: 32px;
  }
}

@media(max-width:640px) {
  .headline {
    padding: 75px 0 25px 0;
  }
  .headline h1 {
    font-size: 60px;
  }
  .headline h2 {
    font-size: 30px;
  }
}

/*Primera seccion*/
#principal {
  background-image: url(http://i.imgur.com/RFN4czR.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: #fff !important; 
}

#principal .title1 {
  position: relative;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(50%);
}

/*Seccion tarjetas*/
#voluntarios {
  margin-top: 2%; 
}
#voluntarios .card-action a {
  color: #b71c1c !important; 
}
#voluntarios .card-content {
  height: 200px; 
}

footer {
  background-color: #b71c1c !important;
  color: #fff !important;
  height: 100px; 
}

